<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>E-Learning Portal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">E-Learning Portal</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="userView.html" th:href="@{/userView}">Home</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="dashboard.html" th:href="@{/logout}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
</nav>
    <h3><a href="addFeedback.html" th:href="@{/addFeedback}">Add Feedback</a></h3>
    <h3><a href="enroll.html" th:href="@{/enroll}">Enroll Courses</a></h3>
    <h3><a href="myCourses.html" th:href="@{/myCourses}">My Courses</a></h3>
    <h3><a href="listAllCourse.html" th:href="@{/courseList}">Connect</a></h3>

</div>

</body>
</html>